{%- extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}

{% block content %}

<div class="row mt-4">
  <div class="col col-md-6 offset-md-3 alert alert-primary text-center">
    <span class="h1">GAME LEADERBOARD</span>
  </div>
</div>

<div class="row">
  <div class="col col-md-6 offset-md-3">
    {% for score in scores %}
    <div class="row alert alert-warning">
      <span class="col col-md-2 mt-0 h1 text-center">{{ score.ranking }}</span>
      <span class="col col-md-2 mt-0 h1 text-center">🧑🏻</span>
      <span class="col col-md-4 mt-0 h1">{{ score.playername }}</span>
      <span class="col col-md-4 mt-0 h1 text-right">{{ score.score }}</span>
    </div>
    {% endfor %}
  </div>
</div>
{%- endblock %}